@import url('https://fonts.googleapis.com/css2?family=Poppins');

:root {
  --color-primary: #7468FF;
  --color-mute: #B2B2B2;
  --color-light-mute: #DEDEDE;
  --color-black: #1B1B1B;
  --color-success: #1DBE1A;
}

* {
  box-sizing: border-box;
  font-family: poppins, 'Times New Roman', Times, serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

a {
  text-decoration: none;
}

h1, h2, p {
  margin: 0;
}

.mt-28 {
  margin-top: 28px;
}

/* navigation */
.nav {
  background-color: var(--color-primary);
  position: sticky;
  top: 0;
}

.nav__container {
  padding: 14px 20px;
}

.nav .nav__container .nav__brand {
  font-size: 1.3rem;
}

.nav .nav__container .nav__brand a {
  color: #FFFFFF;
}

.container {
  padding: 16px 20px;
}

/* form */
.form__title {
  font-size: 1.3rem;
  margin-bottom: 16px;
}

.form__container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form__control {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid var(--color-mute);
}

.form__control--large {
  resize: vertical;
}

/* button */
.btn {
  border: none;
  width: 100%;
  padding: 12px;
  border-radius: 3px;
  cursor: pointer;
}

.btn--success {
  background-color: var(--color-success);
  color: #FFFFFF;
}

.btn--success:hover {
  background-color: #2aBc44
}

.divider {
  width: 100%;
  height: 3px;
  margin: 20px 0;
  background-color: var(--color-light-mute);
}

/* card */
.card {
  padding: 12px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.card__title {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

/* notes section */
#notes {
  display: grid;
  gap: 12px;
}

@media only screen and (min-width: 768px) {
  .nav__container {
    padding: 20px 40px;
  } 

  .container {
    padding: 16px 40px;
  }

  #notes {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1200px) {
  .nav__container {
    padding: 20px 200px;
  } 

  .container {
    padding: 16px 200px;
  }
  #notes {
    grid-template-columns: repeat(3, 1fr);
  }
}